.rating-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li{
        width: calc(33.33% - 20px);
        margin: 10px;
        text-align: center;
        max-width: 195px;
        .rating-box{
            padding: 40px;
            background: #212443;
            border-radius: 10px;
            max-width: 195px;
            .rating-icons{
                display: inline-flex;
                height: 19px;
                width: 108px;
            }
            strong{
                font-weight: bold;
                font-size: 15px;
                padding-top: 20px;
                display: block;
                line-height: 1.4;
            }
        }
        p{
            padding-top: 55px;
        }
    }
}
@media screen and (max-width: 767px) {
    .rating-sec{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li{
            width: calc(50% - 20px);
            .rating-box{
                padding: 40px 20px;
            }
            p{
                padding: 20px 0 0 0;
            }
        }
    }
}