@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@font-face {
    font-family: 'high_speedregular';
    src: url('./fonts/high_speed-webfont.woff2') format('woff2'),
         url('./fonts/high_speed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'Open Sans', sans-serif;
    background: #15172d;
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    transition: all .3s ease-in;
    color: #0385c7;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #fff;
}
h6 {
    font-size: 20px;
    color: #0385c7;
    margin-bottom: 10px;
}
.blue-color{
    color: #0385c7!important;
}
p{
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 18px;
}
p:last-child{
    margin-bottom: 0px;
}
.text-left{
    text-align: left!important;
}
.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
figure{
    margin: 0;
}
.container{
    max-width: 1230px;
}
.pb-30{
    padding-bottom: 30px!important;
}
.button{
    font-size: 14px;
    color: #fff;
    background: #387afd;
    padding: 9px 25px;
    min-width: 150px;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all .3s ease-in;
    border: 1px solid #387afd;
    &:hover{
        background: #15172d;
        text-decoration: none;
    }
}
.button.disabled{
    pointer-events: none;
    background: #999999;
    border: none;
}
.section{
    padding: 50px 0;
}
main{
    min-height: 800px;
}
.head{
    margin-bottom: 20px;
    .heading2{
        margin-bottom: 0;
    }
}
.heading1{
    color: #387afd;
    font-size: 30px;
    font-family: 'high_speedregular';
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
}
.heading2{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 20px;
}
input[type="email"].form-control,
input[type="text"].form-control{
    height: 42px;
    line-height: 42px;
    display: block;
    font-size: 14px;
    color: #fff;
    border: 1px solid #387afd;
    background: none;
    border-radius: 25px;
    padding: 0 20px;
    &:focus{
        box-shadow: none;
        border-color: #ced4da;
    }
}
textarea.form-control{
    height: 150px;
    resize: none;
}
label {
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}
.list{
    margin: 20px 0 0 0;
    li{
        position: relative;
        padding: 3px 3px 3px 30px;
        font-weight: 300;
        &::before{
            content: '';
            background: #39b54a;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 0;
            top: 11px;
            border-radius: 50%;
        }
    }
}
.react-responsive-modal-modal{
    width: calc(100% - 2.4rem);
    border-radius: 7px;
    padding: 50px!important;
    p{
        color: #000;
        text-align: center;
    }
    input[type="text"].form-control{
        color: #000;
    }
}
.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px;
}
.success-msg{
    color: #1cb580;
}
.error-star{
    color: red!important;
    padding: 0!important;
    margin: 0 2px 0 0!important;
}
.error-msg{
    color: red!important;
    font-size: 12px;
    clear: both;
    display: block;
}
.error{
    position: absolute;
    color: red!important;
    margin: 3px 0 0 12px!important;
    font-size: 12px;
    clear: both;
    display: block;
}
@media screen and (max-width: 767px) {
    body,p{
        font-size: 14px;
    }
    .section {
        padding: 20px 0;
    }
    .heading1 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .heading2 {
        font-size: 18px;
    }
}